h1{
	font-family: verdana;
}

h2{
	font-family: verdana;
}

body {
	font-family: verdana;
}

.nav{
	text-align: center;
	padding: auto;
	margin: auto;
	font-family: verdana;
}

.nav li {
	display: inline-block;
	font-size: 20px;
	padding: 20px;
}

a:link {
	color: DodgerBlue;
	text-decoration: none;
}

a:visited {
	color: DodgerBlue;
	text-decoration: none;
}

a:hover {
	color: DodgerBlue;
	text-decoration: underline;
} 

a:active{
	color: blue;
	text-decoration: underline;
}

.img_center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 256px;
  height: 300px;

}

span.main_column1{
	display: inline-block;
	width: 200px;
}

span.main_column2{
	display: inline-block;
	width: 200px;

}

.pub_paper{
	padding-left: 50px;
}

.pub_authors{
	padding-left: 100px;
}