h1{
}

h2{
}

body {
	font-family: "Courier New";
}

.nav{
	text-align: center;
	padding: auto;
	margin: auto;
}

.nav li {
	display: inline-block;
	font-size: 20px;
	padding: 20px;
}

a:link {
	color: DodgerBlue;
	text-decoration: none;
}

a:visited {
	color: DodgerBlue;
	text-decoration: none;
}

a:hover {
	color: DodgerBlue;
	text-decoration: underline;
} 

a:active{
	color: blue;
	text-decoration: underline;
}

.img_center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 256px;
  height: 300px;

}

.main_column1{
	display: inline-block;
    box-sizing: border-box;
    width: 350px;
    margin-left: calc(50% - 350px);
    float: left;
}

.main_column2{
	display: inline-block;
    box-sizing: border-box;
    width: 400px;
    margin-right: calc(50% - 400px);
}

.pub_paper{
	margin-left: calc(50% - 350px);
}

.pub_authors{
	padding-left: calc(50% - 350px + 100px);
}


.indent { text-indent: 40px; }